.seminar_img{
    height: 60%;
    
    border-radius: 5px;
    object-fit: cover; 
    object-position: center;
    margin: 0 auto;
}

.text_paper {
    display: inline-block;
    height: 60%;
    text-align:  center;
}

